/**
 * ----------------------------------------------------------------------------------------
 * Lesson 18
 * ----------------------------------------------------------------------------------------
 */

.demo-container img {
	max-width: 100%;
}

.container-1 {
	width: 50%;
}

.container-2 {
	width: 200px;
}