/**
 * ----------------------------------------------------------------------------------------
 * Lesson 13
 * ----------------------------------------------------------------------------------------
 */

.circle {
	background-color: green;
	width: 10em;
	height: 10em;
	border-radius: 5em;
}

.round-image {
	width: 200px;
	height: 200px;
	border-radius: 100px;
}