/**
 * ----------------------------------------------------------------------------------------
 * Lesson 5
 * ----------------------------------------------------------------------------------------
 */

::-webkit-input-placeholder {
	color: blue;
}

::-moz-placeholder {
	color: red;
}

:-ms-input-placeholder {
	color: green;
}

