/**
 * ----------------------------------------------------------------------------------------
 * Lesson 2
 * ----------------------------------------------------------------------------------------
 */

::selection {
	background-color: red;
	color: white;
}

::-moz-selection {
	background-color: red;
	color: white;
}